.card {
    position: absolute;
    width: 350px;
    height: 100%;
    left: -300px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    text-align: center;  
    z-index: 0;
    transition: all 0.5s;
}

.card:hover {
    left: 0px;
    z-index: 1000;
}

@media (max-width: 600px){
	.card {
		display: none;
	}
}

.cardImg {
    margin-top: 10px;
    width: 280px;
}

.contents{
    height: 100%;
    width: 300px;
    background-color: white;
}

.sideBar {
    position: absolute;
    height: 30%;
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333333;
    color: #ffffff;
    font-size: 3em;
    box-shadow: 3px 3px 10px #333333;
    border-radius: 0 20px 20px 0;
    opacity: 0.8;

    transition: all 0.5s;
}

.hidden {
    opacity: 0;
}